---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT</h2>
</div>

<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h2><span style="font-size: 0.8em;">About</span></h2>
	<br/>
		<p><span style="font-size: 0.6em;">我目前在阿里巴巴达摩院从事计算机视觉和AI4S的研究工作。</span></p>
	<br/>
		<p><span style="font-size: 0.6em;">2019-2024年，我在中国科学院大学攻读工学博士学位，培养单位是中国科学院空天信息创新研究院。在此期间，我曾获得国家奖学金、中国科学院院长奖、中国电子教育学会优秀博士论文提名奖等荣誉。</span></p>
	<br/>
		<p><span style="font-size: 0.6em;">2015-2019年，我在华中科技大学攻读工学学士学位。在此期间，我曾获得国家奖学金、本科特优生等荣誉。</span></p>
	<br/>
		<h2><span style="font-size: 0.8em;">Publications</span></h2>
	<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/10260326"style="color:#5bbd72;">[Paper]</a>RadarFormer: End-to-End Human Perception With Through-Wall Radar and Transformers</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang, X. Liang, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Transactions on Neural Networks and Learning Systems, 2024</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/10182341"style="color:#5bbd72;">[Paper]</a>Through-Wall Human Pose Estimation by Mutual Information Maximizing Deeply Supervised Nets</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, D. Zhang, X. Liang, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Internet of Things Journal, 2024</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9989420"style="color:#5bbd72;">[Paper]</a>Unsupervised Human Contour Extraction From Through-Wall Radar Images Using Dual UNet</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang, X. Liang, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Geoscience and Remote Sensing Letters, 2023</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://www.mdpi.com/2072-4292/15/13/3434"style="color:#5bbd72;">[Paper]</a>A Multi-Target Detection Method Based on Improved U-Net for UWB MIMO Through-Wall Radar</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">J. Pan,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">D. Zhao, K. Yan, J. Nie, B. Zhou, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">Remote Sensing, 2023</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9999668"style="color:#5bbd72;">[Paper]</a>ARFA: Adaptive Reception Field Aggregation for 3-D Detection From LiDAR Point Cloud</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang, X. Wang,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Sensors Journal, 2023</span>
      		</p>  
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://www.tandfonline.com/doi/abs/10.1080/2150704X.2023.2204197"style="color:#5bbd72;">[Paper]</a>Enhancement of vital signals for UWB through-wall radar using nonconvex regularization</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">X. Liang, J. Pan,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">S. Ye, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">Remote Sensing Letters, 2023</span>
      		</p> 
	        <br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9924237"style="color:#5bbd72;">[Paper]</a>Through-Wall Human Pose Reconstruction Based on Cross-Modal Learning and Self-Supervised Learning</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang, X. Liang, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Geoscience and Remote Sensing Letters, 2022</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9793087"style="color:#5bbd72;">[Paper]</a>Self-supervised Human Pose Recovery for Through-wall Radar Based on Convolutional Neural Networks</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">2022 Photonics & Electromagnetics Research Symposium (PIERS), 2022</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9741729"style="color:#5bbd72;">[Paper]</a>Recovering Human Pose and Shape From Through-the-Wall Radar Images</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, Z. Ni, C. Shi, D. Zhang, X. Liu, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Transactions on Geoscience and Remote Sensing, 2022</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9420808"style="color:#5bbd72;">[Paper]</a>Human Posture Reconstruction for Through-the-Wall Radar Imaging Using Convolutional Neural Networks</span><br/>
        <span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, Z. Ni, C. Shi, S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Geoscience and Remote Sensing Letters, 2022</span>
      		</p>   
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9969668"style="color:#5bbd72;">[Paper]</a>Unsupervised Domain Adaptive 3-D Detection With Data Adaption From LiDAR Point Cloud</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang, X. Wang,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">and X. Liu</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Transactions on Geoscience and Remote Sensing, 2022</span>
      		</p>  
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://www.mdpi.com/2076-3417/12/9/4720"style="color:#5bbd72;">[Paper]</a>Multiple Stationary Human Targets Detection in Through-Wall UWB Radar Based on Convolutional Neural Network</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">C. Shi,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, Z. Ni, S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">Applied Sciences, 2022</span>
      		</p>  
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9736999"style="color:#5bbd72;">[Paper]</a>Declutter-GAN: GPR B-Scan Data Clutter Removal Using Conditional Generative Adversarial Nets</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">Z. Ni, C. Shi, J. Pan,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Geoscience and Remote Sensing Letters, 2022</span>
      		</p>  
		<br/>   
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://ieeexplore.ieee.org/document/9562984"style="color:#5bbd72;">[Paper]</a>Motion Compensation Method Based on MFDF of Moving Target for UWB MIMO Through-Wall Radar System</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, Z. Ni, C. Shi,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">IEEE Geoscience and Remote Sensing Letters, 2022</span>
      		</p>  
		<br/>   
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://arxiv.org/abs/2111.00931"style="color:#5bbd72;">[Paper]</a>Structure Information is the Key: Self-Attention RoI Feature Extractor in 3D Object Detection</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">D. Zhang,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">X. Bi, and X. Liu</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">arXiv preprint arXiv:2111.00931, 2021</span>
      		</p>  
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://www.mdpi.com/2072-4292/13/18/3577"style="color:#5bbd72;">[Paper]</a>A Method for Reducing Timing Jitter’s Impact in Through-Wall Human Detection by Ultra-Wideband Impulse Radar</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">C. Shi, Z. Ni, J. Pan,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">S. Ye, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">Remote Sensing, 2021</span>
      		</p>  
		<br/>
		<p>
        <span style="color: black; font-size: 0.6em;"><a target="_blank" href="https://www.mdpi.com/2072-4292/13/18/3577"style="color:#5bbd72;">[Paper]</a>Enhancement of vital signals based on low-rank, sparse representation for UWB through-wall radar</span><br/>
        <span style="color: lightgray; font-size: 0.6em;">J. Pan, S. Ye, Z. Ni, C. Shi,</span> 
	<span style="color: black; font-size: 0.6em;">Z. Zheng,</span> 
        <span style="color: lightgray; font-size: 0.6em;">D. Zhao, and G. Fang</span><br/>
        <span style="color: black; font-style: italic; font-size: 0.6em;">Remote Sensing Letters, 2021</span>
      		</p>  
		<br/>
    </ul>

</main>
    
{% include footer.html %}
