---
title: Archives
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ARCHIVES</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
  <ul class="tags-list" style="padding:40px">
    {% for post in site.posts %}
      
        {% unless post.next %}
          <h3 style="margin-bottom: 8px">{{ post.date | date: "%b-%Y" }}</h3>
        {% else %}
        {% capture year %}{{ post.date | date: "%b, %Y" }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: "%b, %Y" }}{% endcapture %}
        
        {% if year != nyear %}
           <h3 style="margin-bottom: 8px">{{ post.date | date: "%b-%Y" }}</h3>
        {% endif %}
        {% endunless %}
       
      <li style="margin-bottom: 20px;">
        <div style="display: flex; align-items: baseline; flex-wrap: wrap;">
          <!-- 显示文章标签 -->
          {% if post.tags %}
            {% assign tag_colors = "ADD8E6,90EE90,FFB6C1,FFFFE0,DDA0DD,FFDAB9,EE82EE,AFEEEE" | split: "," %}
            <div class="post-tags" style="margin-right: 10px; display: flex; gap: 5px; flex-wrap: wrap;">
              {% for tag in post.tags %}
                {% assign color = tag_colors[forloop.index0 | modulo: tag_colors.size] %}
                <a href="/tags/{{ tag | slugify }}" style="color: #{{ color }}; text-decoration: none; padding: 2px 5px; background: transparent; white-space: nowrap;">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

          <!-- 文章标题，字体颜色设置为灰色 -->
          <a href="{{ post.url }}" style="color: #808080; text-decoration: none; flex: 1 1 0; min-width: 0;">
            ({{ post.date | date:"%b-%-d-%Y" }}) {{ post.title }}
          </a>
        </div>
      </li>
       
    {% endfor %}
  </ul>
</main>
{% include footer.html %}
