---
title: Archives
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ARCHIVES</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
  <ul class="tags-list" style="padding:40px">
    {% for post in site.posts %}
      
        {% unless post.next %}
          <h3 style="margin-bottom: 8px">{{ post.date | date: "%b-%Y" }}</h3>
        {% else %}
        {% capture year %}{{ post.date | date: "%b, %Y" }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: "%b, %Y" }}{% endcapture %}
        
        {% if year != nyear %}
           <h3 style="margin-bottom: 8px">{{ post.date | date: "%b-%Y" }}</h3>
        {% endif %}
        {% endunless %}
       
      <li style="margin-bottom: 20px;">
        <!-- 修改标签样式，把标签放到标题前面 -->
        <!-- 将标签放在标题前面 -->
        <div style="display: flex; flex-wrap: wrap; align-items: center;">
          <!-- 显示文章标签 -->
          {% if post.tags %}
            <div class="post-tags" style="margin-right: 10px;">
              {% for tag in post.tags %}
                <a href="/tags/{{ tag | slugify }}" style="color: #00BFFF; text-decoration: none; padding: 2px 5px; margin-right: 5px; background: transparent;">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}

          <!-- 文章标题，字体颜色设置为灰色 -->
          <a href="{{ post.url }}" style="color: #808080; text-decoration: none;">{{ post.date | date:"%b-%-d-%Y" }}  {{ post.title }}</a>
        </div>
      </li>
       
    {% endfor %}
  </ul>
</main>
{% include footer.html %}
